<!DOCTYPE html lan ='en>
<html>
    <head>
       <link href="styles.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <title>Home</title>
        <script>
         heightWindow =  $( window ).height();
        </script>
    </head>
    <body style = "background-color:lightgray; margin: 0; padding: 0; width: 100% max-height: heightWindow; ">
    

      </div>        
      <button type="button" style="position:relative; left:93%; top:10px;">Login</button>
          
            
            <form style= "position:relative;  left: 35%; top: 25%; " class = "searchbar">
              <input class ="searchbar" type="search" placeholder="Subject" aria-label="Search" >
              <button  style ="position:relative;  left: 0%; top: 25%; width: 20%;height : 30% ; box-sizing: border-box;"
              type="submit">Search</button>
            </form>
          </nav>
    </body>
</html> 
