<!DOCTYPE html lan ='en>
<html>
    <head>
       <meta charset = "utf-8">
       <meta name = "viewport" content = "width = device - width, initial-scale = 1.0">
       <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
       <script defer src= "https://use.fontawesome.com/releases/v5.0.6/js/all.js" ></script>
       <script type= "text/javascript">
       ('#body').css('min-height', '100%');
       </script>
       

        <title>Home</title>
    </head>
    <body>
       <div class = "grid">
              
         <div class = "title">
          <button class = "logohome"> <img class="homelogo" src="https://upload.wikimedia.org/wikipedia/commons/f/f2/STS_Logo_rebranded.png" alt="" height=50 width=50></button>
          <button class="login"> Login</button>
          <button class="navbar"> Tutors</button>
          <button class="navbar"> FAQ</button>
          <button class="navbar"> Subjects</button>
         </div>
         <div class = "header"> "Education is the key to success"- Sarim Zia</div>
         
         <div class = "content"> 
         

          <div class='search-box'> 
            <input class="search-txt" type="text" name="" placeholder= "Search Subject">
            <a class = 'search-btn' href='#'>
            <i class="fas fa-search"></i>
            </a>
          </div>
         </div>
         
         
         <div class = "footer">

          <p>This website was created by two legends; Sarim Zia & Bilal Choudhary. What's amazing is that we finally beat
            css! It only took a few days, give or take 3 months... The question that lies is whether the Jets win a stanley
            cup first or will we finish the website first. But what's important is that we beat it. Now it's time to do this 
            10-15 more times, and then probably lose to javascript... But in the mean time, get your chai ready with your tuc 
            biscuit because  "picture toh abhi baki hai mairai dost."
          </p>
         </div>
       </div>

        
     
    </body>
</html> 
