* {
    margin: 0;
    padding: 0px;
}

.wrapper {
    width: 100%;
}
/*MEDIA SIZES*/
@media only screen and (min-width: 768 px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1 fr 1 fr 1 fr 1 fr;
        grid-template-areas:
        "title title"
        "header header"
        "sidebar content"
        "footer footer";
    }
}
@media screen and (min-width: 1024 px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1 fr 1 fr 1 fr 1 fr;
        grid-template-areas: 
        "title title"
        "header header" 
        "sidebar content" 
        "footer footer";

    }
}
/*----------------------TITLE---------------------------------*/
.title {
    background-color: rgb(145, 137, 137);
    grid-area: title;
    padding: 10px;
    background-color: white;
    display: flex;

}   
/*NAVBAR*/
.navbar {
    float: left;
    position: relative;
    width:7 %; 
    
    
}
/*LOGIN BUTTON FOR TITLE*/
.login {
    position: relative;
    background-color: #1c63df;
   
    border: none;
    color: white;
    padding: 1% 2%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left:92%;

}
/*----------------------HEADER---------------------------------*/
.header {
    grid-area: header;
}
/*----------------------SIDEBAR---------------------------------*/
.sidebar {
    grid-area: sidebar;
}
/*----------------------CONTENT---------------------------------*/
.content {
    grid-area: content;
    background-color: rgb(231, 231, 22);
    background-blend-mode: luminosity;
    padding: 20%;
}
/*LOGO FOR CENTRE OF PAGE*/
.logo {
    position: relative;
    text-align: center;
    bottom: 20px;
    right: 5%;
    font-size: 400%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*SEARCH BAR FOR CENTRE OF PAGE*/
.search {
    position: relative;
    text-align: center;
}
/*INPUT FOR SEARCH BAR*/
.searchinput {
    position: relative;
    width: 50%;
    height: 8%;
}
/*SUBMIT BUTTON FOR SEARCH BAR*/
.submit {
    position: relative;
    width: 20%;
    height: 8%;
}
/*----------------------FOOTER---------------------------------*/
.footer {
    grid-area: footer;
    padding: 10%;
}
