* {
    margin: 0;
    padding: 0px;
}

.wrapper {
    width: 100%;
}
/*MEDIA SIZES*/
@media only screen and (min-width: 768 px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1 fr 1 fr 1 fr 1 fr;
        grid-template-areas:
        "title title"
        "header header"
        "header content"
        "footer footer";
    }
}
@media screen and (min-width: 1024 px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1 fr 1 fr 1 fr 1 fr;
        grid-template-areas: 
        "title title"
        "header header" 
        "header content" 
        "footer footer";

    }
}
/*----------------------TITLE---------------------------------*/
.title {
    grid-area: title;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;

}   
/*NAVBAR*/
.navbar {
    position: relative;
    font-size: 85%;
    right:6%;
    width:6%; 
    background: none;
    border: none;
  
    
}
/*LOGIN BUTTON FOR TITLE*/
.login {
    position: relative;
    background: none;
   border: 1px solid black;
    
    padding: 1% 2%;
    
    font-size: 17px;
    left:92%;

}
/*----------------------HEADER---------------------------------*/
.header {
    grid-area: header;
    background: rgb(184, 184, 184);
   padding: 0.5%;
    text-align: center;
    font-size: x-large;
    font-style: italic;
}
    
/*----------------------CONTENT---------------------------------*/
.content {
    grid-area: content;
    background-image: url(../Images/students-learning-xlarge.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/students-learning-xlarge.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20%;
}
/*LOGO FOR CENTRE OF PAGE*/
.logo {
    position: relative;
    text-align: center;
    bottom: 20px;
    font-size: 400%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*SEARCH BAR FOR CENTRE OF PAGE*/
.search {
    position: relative;
    text-align: center;
}
/*INPUT FOR SEARCH BAR*/
.searchinput {
    position: relative;
    font-size: medium;
    font-weight: 200;
    width: 53%;
    height: 50px;
    left: 5%;
    border-radius: 40px;
    background-color: transparent;
    border:solid black;
}
/*SUBMIT BUTTON FOR SEARCH BAR*/
.submit {
    position: relative;
    width: 10%;
    height: 8%;
    right: 3%;
    background: url(../Images/102634-200.png)no-repeat ;
    background-size: 35px;
    font-size: xx-small;
    border: none;
}
/*----------------------FOOTER---------------------------------*/
.footer {
    grid-area: footer;
    padding: 3%;
}
