
* {
    margin: 0;
    padding: 0;
  


}
@media screen and (min-width: 736 px)
{
    .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 fr 1 fr 1 fr 1 fr;
    grid-template-areas:
    "title title"
    "header header"
    "sidebar content"
    "footer footer";
}
}
.search{
    position: relative;
    text-align: center; 

    transform: scale(2.5);
}
.login {

    position: relative;
    background-color: #1c63df; /* Green */
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 16px;
    top: 30 px;
    left: 90%;

}
.title{
    background-color: white;
    grid-area: title;
    padding:1%;
    
    
}
.header{
    grid-area: header;
    
}
.sidebar{
    grid-area: sidebar;
    
}
.content{
    grid-area: content;
    background-color:lightgrey;
    padding: 20%
    
}
.footer{
    grid-area: footer;
    padding: 10%;
    
}

@media screen and (min-width: 736 px)
{
    .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 fr 1 fr 1 fr 1 fr;
    grid-template-areas:
    "title title"
    "header header"
    "sidebar content"
    "footer footer";
}
}





